  @{Dictionary<string, string> meals = new Dictionary<string, string>()
{
    {"6:50:00 AM", "Bcca, Glutamine, and a handful of Almonds." },
    {"7:30:00 AM", "8 Eggs, 200 grams of Oats, Blueberries, Strawberries, and an Avocado." },
    {"9:30:00 AM", "400 grams of Beef, 400 grams of Sweet Potatoes, and a handful of Spinach and Greens." },
    {"11:50:00 AM", "Bcca and Glutamine." },
    {"12:00:00 PM", "400 grams of Chicken, 400 grams of Potatoes, some Greens, and some Fruit." },
    {"2:00:00 PM", "BLEND: 150 grams of Oats or Sweet Potatoes, 2 Bananas, 150 grams of Rice Krispies, Frozen Berries, a handful of Almonds, Peanut Butter, and Glutamine." },
    {"2:30:00 PM", "Bcca, Glutamine, Vitargo." },
    {"5:30:00 PM", "60 grams of Protein and 2 Bananas." },
    {"6:00:00 PM", "500 grams of Beef, Potatoes, and Greens." },
    {"8:30:00 PM", "500 grams of Salmon and 500 grams of Sweet Potatoes." },
    {"10:30:00 PM", "50 grams of Casein Protein." }
}; }


        @{
            ViewBag.Title = "Home Page";
        }

        <div class="jumbotron">
            <h1>MOUNTAIN MEAL TIME</h1>
            <div class="row">
                <img class="col-md-4" src="~/Content/Images/MountainAngry.jpg" />
                <p class="lead col-md-8">Do you desire to become as big as Icelandic strongman Hafþór Júlíus Björnsson?  You can train all you want, but you will never become a 441 pound 'Mountain' of pure muscle unless you <p class="sub-head">EAT LIKE THE MOUNTAIN. </p></p>
            </div>
        </div>

        <div class="row clock-row">
            <div class="clock col-md-12">
                <p>CURRENT TIME: @DateTime.Now.ToString("t")</p>
            </div>
            @foreach (KeyValuePair<string, string> food in meals)
            {
                if (Convert.ToDateTime(food.Key) >= DateTime.Now && Convert.ToDateTime(food.Key) <= DateTime.Now.AddMinutes(5))
                {
                    <div class="col-md-12"><p class="timeToEat">TIME TO EAT</p></div>
                    <div class="col-md-3"><img src="~/Content/Images/MountainEating.gif" /></div>
                    <div class="col-md-9"><p class="mealInfo">@food.Value</p></div>
                }
                else if (DateTime.Now >= Convert.ToDateTime("11:00:00 PM") && DateTime.Now <= Convert.ToDateTime("6:30:00 AM"))
                {
                    <div class="col-md-6"><img src="~/Content/Images/MountainSleep.jpg" /></div>
                    <div class="col-md-6"><p>TIME TO SLEEP</p></div>
                }
                else
                {
                    <div class="col-md-6"><img src="~/Content/Images/MountainLift.gif" /></div>
                    <div class="col-md-6"><p>TIME TO LIFT</p></div>
                }
            }
        </div>

