body {
    background-image: url('Images/GymBackground.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    text-align: left;
    display: none;
}

footer {
    background-color: rgba(0,0,0,.9);
    height: 80px;
    padding-left: 1%;
}

footer > p {
    margin-bottom: 0px;
    font-size: 25px;
    color: goldenrod;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-left: 0%;
    margin-right: 0%;
    max-width: 100%;
    padding: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-color: rgba(0,0,0,.8);
    color: white;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 25px;
    text-align: center;
    margin-bottom: 0px;
    line-height: 90px;
}

hr {
    border-color: goldenrod;
    border-width: 15px;
    margin: 0px;
    padding-bottom: 30px;
}

.jumbotron > h1 {
    font-size: 150px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: goldenrod;
    color: black;
}

.jumbotron > img {
    position: relative;
    left: 0px;
}

.jumbotron > .row {
    padding-bottom: 30px;
}

.lead {
    font-size: 55px;
    text-align: center;
    margin-bottom: 0px;
}

.sub-head {
    color: goldenrod;
    font-size: 94px;
    font-weight: bold;
}

.currentTime {
    color: goldenrod;
    font-size: 100px;
}

.clocks {
    color: goldenrod;
    font-weight: bold;
    text-align: center;
}

/*Clock*/
.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid goldenrod;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    margin-bottom: 35px;
    margin-top: 20px;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
    width: 50%;
    height: 6px;
    background: goldenrod;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.timeMessage {
    font-size: 160px;
    font-weight: bold;
    text-align: center;
    color: goldenrod;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,.8);
    line-height: 155px;
}

.imageRow {
    background-color: rgba(0,0,0,.8);
}

.timeImage {
    position: relative;
    left: 34%;
    right: 24%;
    margin-bottom: 25px;
    margin-top: 15px;
}

.sleepImage {
    height: 25%;
    width: 30%;
    position: relative;
    left: 35%;
    margin-bottom: 0px;
}

.mealInfo {
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    margin-bottom: 0px;
    background-color: rgba(0,0,0,.8);
    color: goldenrod;
}

#eatingImage {
    position: relative;
    left: 37%;
    right: 20%;
    margin-bottom: 5%;
    margin-top: 1%;
}

.countDownMeal {
    font-size: 100px;
    font-weight: bold;
    text-align: left;
    color: black;
    padding-left: 25px;
    background-color: goldenrod;
    line-height: 130px;
}

#demo {
    font-size: 120px;
    font-weight: bold;
    color: black;
    text-align: center;
    display: inline-block;
}